/* ButtonContainer.css */


.bibby {
  /* This allows us to use top, left, etc., for specific placement */
  position: absolute; 
  background-color: black;
  opacity: 50%;
  /* Example: Place 20 pixels from the top and 50 pixels from the left */
  top:  300px; 
  left: 160px; 
  width: 75px;
  height: 190px;
  /* Other styling */
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  
}

.button_container {
  display: grid;
  flex-direction: column;
  width: 40%;
  margin:auto;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
