.counterinrow {
  display:flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

.countercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  justify-content: center;
}


.countertitle {
  max-width: 20vw;
  margin-bottom: -20px;
  margin-top: 0px;
  font-size: 1.5em;
  text-align: center;
}

.counterdisplay {
  display:flex;
  font-size: 1.45em;
  width: 4em;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding-left: 20px;
  margin-left: -5px;
  padding-right: 20px;
  margin-right: -5px;
  box-sizing: border-box; 
  background-color: var(--background-color);
  filter: brightness(1.2) contrast(120%) saturate(150%);
  padding: 0.1em;
  z-index: 1;
}

.leftbutton {
  display:flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-weight: black;
  font-size: .8em;
  padding: 0.6em 0.8em;
  z-index: 2;
}

.rightbutton {
  display:flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: black;
  font-size: .8em;
  padding: 0.6em 0.8em;
  z-index: 2;
}

/* 
.counterbuttonfix {
  display:flex;
  text-align: center;
  align-items:center;
  justify-content: center;
} */