.field {
  border-radius: 5px !important;
  margin: 5%;
  font-size: 2.5vw;
  height: 5vh !important;
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

.fieldcontainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: xx-large;
  color: rgba(255, 255, 255, 0.8);
}

.fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: space-evenly;
  flex-wrap: wrap;
  gap: 1vw;
}

.fieldset row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.dropdown {
transform: scale(2.5);
 font-family: Tahoma !important;
 border-radius: 0.3em;
}

.button {
  transform: scale(2);
  gap: 90vw;
}