.field {
  border-radius: 10px;
  margin: 5%;
  font-size: 2.5vw;
  height: 5vh !important;
  padding-left: 1vh;
  padding-right: 1vh;
}

.fieldcontainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: xx-large;
}

.fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: space-evenly;
  flex-wrap: wrap;
  gap: 1vw;
}

.fieldset row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}