.field {
  border-radius: 15px;
  margin: 5%;
  font-size: 2.5vw;
  height: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: rgba(255, 255, 255, 0.4);
}
.field::placeholder {
  color: rgb(32, 32, 96);
}

.fieldcontainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: xx-large;
  color: rgba(255, 255, 255, 0.8);
}

.fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: space-evenly;
  flex-wrap: wrap;
  gap: 1vw;
}

.fieldset row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.dropdown {
  transform: scale(2.5);
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.8);
}

.buttons {
  z-index: 5;
  font-size: 3.5vw;
  text-align: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 5.5em;
  margin: 1.8vw;
  padding-left: 0;
  padding-right: 0;
  min-width: 65px;
  transition:
    ease-in-out,
    transform 0.2s,
    background-color 0.2s,
    box-shadow 0.2s,
    width 0.2s;
  background-color: rgb(51, 51, 51, 0.5);
  color: white;
  border-radius: 0.6em;
  backdrop-filter: blur(15px);
}

.buttons:active {
  z-index: 10;
  color: white;
  transform: scale(2);
  background-color: #00bfff40;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.buttons[data-active="true"] {
  z-index: 8;
  background-color: #7a008580;
  color: white;
  transform: scale(1.25);
  width: 6.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}
