#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.version {
  color:dodgerblue
}

.buttons {
  margin: 1vw;
  padding: 0.5em, 2em, 0.5em, 2em;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.6);
  background-color:rgb(197, 197, 197);
}

.buttons:active {
  color: white;
  text-shadow: 0px 0px 3px black;
  transform: scale(2.00);
  background-color: #00BFFF;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.title {
  color:rgb(37, 37, 37)
}
