#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.version {
  color:dodgerblue
}

.buttonthing {
  width: 100vw;
  padding-left: 5vw;
  padding-right:5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.finalize-button {
  /* remove pointer-events */
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s, width 0.2s;
}

.title {
  color:rgb(37, 37, 37)
}



