#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.responsive {
  flex-wrap: wrap;
  width: 80%;
  min-width: 200px;
}

body {
  transform: scale(1.00);
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.version {
  color:dodgerblue
}

.buttonthing {
  min-width: 900px;
}

.buttons {
  text-align: center;
  font-size: large;
  position:relative;
  z-index: 5;
  align-items: center;
  align-content: center;
  margin: 2vw;
  padding: 0.5em 1.5em;
  width: 20vw;
  max-width: 150px;
  transition: ease-in-out, transform 0.2s, background-color 0.2s, box-shadow 0.2s, width 0.2s;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.6);
  background-color:rgb(197, 197, 197);
}

.buttons:active {
  z-index: 10;
  color: white;
  transform: scale(2.00);
  background-color: #00BFFF;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.buttons[data-active="true"] {
  z-index: 8;
  background-color: #7a0085;
  color: white;
  transform: scale(1.25);
  width: 25vw;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.title {
  color:rgb(37, 37, 37)
}

.notes {
  width: 30vw;
  height: 5vh;
  transition: width 0.4s, height 0.4s;
  resize: none
}

.notes:focus {
  width: 70vw;
  height: 30vh;
}

.field {
  border-radius: 10px;
  margin: 5%;
}