#app {
  display: flex;
  flex-direction: column;
  align-items: center;  /* centers horizontally */
  justify-content: flex-start; /* stick to top */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}


body {
  transform: scale(1.00);
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* disables scrolling */
  height: 100%;
}

.version {
  color:dodgerblue
}

.buttons {
  font-size: large;
  position:relative;
  z-index: 5;
  align-items: center;
  margin: 1.5vw;
  padding: 0.5em 1.5em;
  width: 125px;
  transition: ease-in-out, transform 0.2s, background-color 0.2s, box-shadow 0.2s, width 0.2s;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.6);
  background-color:rgb(197, 197, 197);
}

.buttons:active {
  z-index: 10;
  color: white;
  text-shadow: 0px 0px 2px black;
  transform: scale(2.00);
  background-color: #00BFFF;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.buttons[data-active="true"] {
  z-index: 8;
  background-color: #7a0085;
  color: white;
  transform: scale(1.25);
  width: 150px;
}

.title {
  color:rgb(37, 37, 37)
}

.notes {
  width: 250px;
  height: 50px;
  transition: width 0.4s, height 0.4s;
  resize: none
}

.notes:focus {
  width: 550px;
  height: 500px;
}