#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  flex-wrap: wrap;
  font-size: 5vw;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title {
  color: rgb(37, 37, 37);
}

[role="tabpanel"] {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(15px);
}

[type="text"] {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}
