@font-face{
  font-family: "Tahoma";
  src:local("tahoma"),
  url('./assets/fonts/tahoma.ttf') 
}

:root {
  font-family: Tahoma !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

label {
  font-family: Tahoma !important;
}

input {
  font-family: Tahoma !important;
}

textarea {
  font-family: Tahoma !important;
}

body {
  font-family: Tahoma !important;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg,#001b3a,#23003a);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 1.5vw;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Tahoma !important;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background: rgba(255, 255, 255, 0.8) !important;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background: #e3f6ff;
    background: linear-gradient(135deg, rgb(0, 27, 58) 0%, rgb(35, 0, 58) 100%);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #383838;
  }
}
